h1 {
    font-family: "Oswald";
    text-align: center;
    color: white;
}

h2,h3,h4,h5,h6 {
    font-family: "Oswald";
    color: white;
}
body {
    font-family: "Open Sans";
    background-color: black;
    width: 100%;
}

.navbar {
    overflow: hidden;
    background-color:darkslategray;
    max-width: 100%;
}

.navbar a {
    font-family: "Oswald";
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    width: inherit;
}

.navbar a:hover {
    background-color: teal;
}

.main-text {
    color: white;
    text-align: center;
}
.spotify {
    text-align: center;
    padding: 20px;
}

.row {
    flex-wrap: wrap;
    padding: 0 4px;
    text-align: center;
}

.content-body {
    vertical-align: middle;
}

.active {
    background-color: cadetblue;
}

.row img {
    margin-top: 8px;
    vertical-align: middle;
    width:250px;
    padding: 10px;
}

.row img:hover {
    opacity: .7;
    transition: .4s;
}

.row video {
    margin-top: 8px;
    vertical-align: middle;
    padding: 10px;
    width: 400px;
    max-width: 80%;
    flex-direction: row;
}

th, td {
    border: 1px solid ivory;
    color: whitesmoke;
    padding: 8px;
}


table {
    border: 1px solid ivory;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table th {
    font-family: "Oswald";
    color: white;
}

table td {
    text-align: start;
    color: white;
}

.modal {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    vertical-align: center;
    opacity: 50%;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    opacity: 100% !important;
    max-width: 700px;
}

@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
     }
}


